{% load static %}
<!--Behöver ladda in våra static files, I detta fall CSS-->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'base/main.css' %}">
    <title>ListNET</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <!-- för att undvika behöva skriva om kan man använda URL tags -->
                <li><a href="{% url 'list-about' %}">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </main>
    <!-- Include any JavaScript or scripts you need -->
</body>
</html>