{% extends "base/mall.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <!-- En div vi kommer använda senare för annat -->
    </div>
{% endblock content %}



//
{% extends "base/mall.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}



//ett alternativ När vi har med bilder och göra behöver vi ENCTYPE
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Profile Info</legend>
        
        <div class="form-group">
            <label for="{{ u_form.email.id_for_label }}">Email</label>
            {{ u_form.email }}
        </div>

        <div class="form-group">
            <label for="{{ p_form.image.id_for_label }}">Profile Image</label>
            {{ p_form.image }}
        </div>
    </fieldset>

    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Update</button>
    </div>
</form>



//crispy alternativ
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Profile Info</legend>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Update</button>
    </div>
</form>
</div>
